<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
</head>
<body>
    <div class = "container" style="text-align: center">
        {% include 'navbar.html' %}

            <h1>The services that we provide</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Nulla reiciendis odio molestias corporis sapiente est? 
                Neque doloribus ea enim, et, earum at culpa officia, 
                illum magni quisquam accusantium corrupti distinctio!</p>
    </div>
</body>
</html>